@import url(reset.css);
@import url(../fonts/komika-text/stylesheet.css);
@import url(../fonts/komika-title/stylesheet.css);
#header {
  width: 960px;
  float: left; }

#logo {
  padding-left: 70px;
  padding-top: 32px; }

#header-content {
  float: right;
  width: 440px;
  height: 105px; }

#search {
  text-align: right;
  padding-top: 10px; }
  #search input {
    vertical-align: middle; }
  #search .search-input {
    width: 160px;
    margin-right: 10px;
    padding: 6px 10px;
    color: #f2aa00;
    font-size: 14px;
    background-color: #280000;
    border: 1px solid #7c0000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px; }

#social-media {
  padding-top: 15px;
  text-align: right;
  color: #FFF;
  font-size: 15px;
  vertical-align: middle;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }

#main-navigation {
  float: right;
  margin-top: -18px;
  margin-right: 20px; }
  #main-navigation li {
    display: inline;
    width: 120px; }
    #main-navigation li a {
      display: block;
      float: left;
      padding: 7px 20px 8px 20px;
      margin-left: 5px;
      color: #ffffff;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px; }
      #main-navigation li a:hover {
        background: url('../img/bg-main-navigation.png') no-repeat left; }
      #main-navigation li a.selected {
        background: url('../img/bg-main-navigation.png') no-repeat left; }

.post {
  float: left;
  width: 425px;
  height: 230px;
  margin: 10px 10px; }
  .post .post-image {
    position: relative;
    top: 0;
    left: 0;
    border: 1px solid #ffb800; }
  .post h2 {
    position: relative;
    top: -75px;
    left: 0;
    width: 300px;
    padding: 5px 5px 5px 10px;
    margin-left: 10px;
    font-size: 18px;
    color: #680000;
    background-color: #f2aa00; }
    .post h2 a {
      color: #680000; }
      .post h2 a:hover {
        color: #ffffff; }
  .post .metadata {
    position: relative;
    top: -75px;
    left: 0;
    width: 250px;
    padding: 5px 5px 5px 10px;
    margin-left: 10px;
    font-size: 13px;
    background-color: #ffffff;
    border: 1px solid #ffb800; }
    .post .metadata a {
      color: #000000; }
      .post .metadata a:hover {
        color: #9c0000; }
  .post .post-content {
    position: relative;
    top: -275px;
    left: 240px;
    width: 210px;
    height: 220px;
    background: url('../img/bg-post-content.png') no-repeat top left; }
    .post .post-content .post-brief {
      width: 150px;
      height: 98px;
      overflow: hidden;
      padding: 15px 0 0 35px;
      text-align: right;
      color: #ffffff; }
  .post .post-info {
    width: 150px;
    margin: 8px 0 0 35px;
    padding-top: 4px;
    text-align: right;
    border-top: 1px solid #787878;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10px;
    color: #787878; }
    .post .post-info a {
      color: #787878; }
    .post .post-info:hover {
      color: #d8d8d8; }
  .post .post-comments {
    width: 50px;
    margin: 37px 0 0 56px;
    text-align: center; }
    .post .post-comments a {
      color: inherit; }
    .post .post-comments .number {
      font-size: 14px;
      color: #ffffff; }
    .post .post-comments .comments {
      font-size: 12px;
      color: #f2aa00; }

#content {
  width: 960px;
  float: left; }

#content-wrapper {
  float: left;
  width: 910px;
  padding: 10px 40px 0 10px; }

#page-content {
  float: left;
  width: 100%;
  background: #ffffff url('../img/content-page-curl.jpg') no-repeat bottom right;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px; }

#top-banner {
  float: left;
  width: 960px;
  height: 250px;
  background: url('../img/bg-banner.png') no-repeat; }

.tab .item {
  float: left;
  padding: 5px 10px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px; }
  .tab .item h4 {
    padding-bottom: 3px;
    color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercas; }
    .tab .item h4 a {
      color: #FFFFFF; }
      .tab .item h4 a:hover {
        color: #f2aa00; }
  .tab .item:hover {
    background: #000000; }
    .tab .item:hover h4 a {
      font-weight: bold;
      color: #f2aa00; }
  .tab .item p {
    color: #909090;
    font-size: 15px; }

.pager {
  float: right;
  text-align: right;
  padding-right: 40px; }
  .pager a {
    color: #4a4848;
    padding-left: 5px; }
    .pager a:hover {
      color: #f2aa00; }
    .pager a.active {
      color: #d11300; }

#tabs .tabs-menu {
  background: none;
  width: 428px;
  height: 24px;
  border: 0;
  padding: 0;
  margin: 0; }
  #tabs .tabs-menu li {
    display: inline;
    float: left; }
    #tabs .tabs-menu li a {
      display: block;
      color: #5a5a5a;
      font-size: 14px;
      text-transform: uppercase;
      padding: 0 20px 10px 10px; }
    #tabs .tabs-menu li a:hover {
      background: none;
      color: #f2aa00; }
    #tabs .tabs-menu li.active {
      background: url('../img/tab-arrow.png') bottom center no-repeat; }
      #tabs .tabs-menu li.active a {
        color: #f2aa00; }

#footer {
  width: 940px;
  height: 250px;
  float: left;
  background: url('../img/bg-footer.jpg') no-repeat top center;
  padding: 20px 10px 0 0; }

#sidebar {
  float: left;
  width: 940px; }

.widget {
  float: left;
  margin: 0 10px; }
  .widget h3 {
    color: #f2aa00;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 0 10px 10px; }
  .widget .footer-widget {
    height: 162px;
    padding: 20px 10px;
    background-color: rgba(26, 26, 26, 0.5);
    border: 1px solid #252525;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
    .widget .footer-widget.small {
      width: 200px; }
      .widget .footer-widget.small a {
        padding-left: 20px; }
        .widget .footer-widget.small a:hover {
          background: url('../img/arrow.png') no-repeat 0 4px; }
    .widget .footer-widget.large {
      width: 414px;
      height: 172px;
      padding-top: 10px;
      top: -10px; }
    .widget .footer-widget li {
      font-size: 15px;
      padding-bottom: 3px;
      color: #FFFFFF; }
      .widget .footer-widget li a {
        color: #FFFFFF; }
      .widget .footer-widget li a:hover {
        margin-top: 5px; }
      .widget .footer-widget li.active {
        display: block; }
      .widget .footer-widget li.hide {
        display: none; }
  .widget .corner {
    background: url('../img/widget-curl.jpg') bottom right no-repeat;
    height: 30px;
    margin: -30px -2px 0 0; }

/*Наборы видов шрифта*/
body {
  background: #000000 url('../img/bg-body.jpg') no-repeat center top;
  font-family: 'KomikaTextTightRegular', Arial, Helvetica, sans-serif;
  font-size: 1em; }

#page {
  margin: 0 auto;
  width: 960px; }
